.dashboard-product-box{
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include square(100%);
    
}
  
 .new-Product-btn{
    position: fixed;
    top: 2rem;
    right: 2rem;
    @include square(2.5rem);
    @include flex(row,center,center,0);
    border-radius: 50%;
    background-color: rgb(201,9,9);
    color: white;
    &:hover{
        opacity: 0.8;
    }

 }

.new-product-management-container{
    // @include flex(row,center,unset);

    >article{
        height: 85vh;
        padding: 2rem;
        width: 100%;
        max-width: 400px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rbga(0,0,0,0.216);

       >form{
        @include flex(column, unset,center,2rem);
       }
    }
}

